<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MSAL and Spring Demo</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/profile">Profile</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">MSAL and Spring Demo</h1>
        <p class="lead">A <a href="https://github.com/mcasperson/SpringMSALDemo">sample application</a> demonstrating how to integrate Spring Boot and the Microsoft Authentication Library (MSAL).</p>
        <p class="lead">
            <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>

<script src="jquery-3.6.0.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>
