<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MSAL and Spring Demo</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link active" href="/profile">Profile</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h2>Token Attributes</h2>
        <pre th:text="${tokenAttributes}"></pre>
        <h2>JWT</h2>
        <pre class="wrappedPre" th:text="${jwt}"></pre>
        <p>
            The JWT token can be decoded at <a a href="https://jwt.ms/">jwt.ms</a>.
        </p>
    </main>
</div>

<script src="jquery-3.6.0.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>
