<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MSAL and Spring Demo</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/events">Events</a>
                <a class="nav-link active" href="/upload">Upload</a>
                <a class="nav-link" href="/audit">Audit</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h2 class="cover-heading">Upload File</h2>
        <table>
            <tr>
                <td><strong>File Name</strong></td>
                <td><input id="fileName"></td>
            </tr>
            <tr>
                <td><strong>File Contents</strong></td>
                <td><textarea id="fileContents"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button id="upload">Upload</button></td>
            </tr>
        </table>
    </main>
</div>

<script src="jquery-3.6.0.min.js"></script>
<script src="bootstrap.min.js"></script>
<script>
    upload.onclick = function() {
        if (!fileName.value || !fileName.value.trim()) {
            window.alert("File name must be specified");
            return;
        }

        if (!fileContents.value || !fileContents.value.trim()) {
            window.alert("File contents must be defined");
            return;
        }

        fetch("/upload/" + fileName.value, {
            credentials: 'include',
            method: 'PUT',
            body: fileContents.value
        }).then(function() {
            fileContents.value = "";
            fileName.value = "";
            window.alert("File uploaded successfully!");
        })
    }
</script>
</body>
</html>
